@charset "utf-8";
body {
	color: #333;
	font-size: 15px;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x:hidden;
	font-weight:normal;
	font-family: 'Poppins-Medium';
}
 @font-face {
 font-family: 'Poppins-Medium';
 src: url('../fonts/Poppins-Medium.eot');
 src: url('../fonts/Poppins-Medium.woff2') format('woff2'), url('../fonts/Poppins-Medium.woff') format('woff'), url('../fonts/Poppins-Medium.ttf') format('truetype'), url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg'), url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype');
 font-weight: normal;
 font-style: normal;
 }
 @font-face {
 font-family: 'Poppins-Regular';
 src: url('../fonts/Poppins-Regular.eot');
 src: url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg'), url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'Poppins-SemiBold';
 src: url('../fonts/Poppins-SemiBold.eot');
 src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff'), url('../fonts/Poppins-SemiBold.ttf') format('truetype'), url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'), url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Poppins-Light';
 src: url('../fonts/Poppins-Light.eot');
 src: url('../fonts/Poppins-Light.woff2') format('woff2'), url('../fonts/Poppins-Light.woff') format('woff'), url('../fonts/Poppins-Light.ttf') format('truetype'), url('../fonts/Poppins-Light.svg#Poppins-Light') format('svg'), url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype');
 font-weight: normal;
 font-style: normal;
}

a {
	color: #8f8f8f;
	text-decoration: none !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
        outline: 0;
}

a:hover, a:active, a:focus {
	outline: 0 !important;
	color:#F0DEC2;
}
label {
	font-family: "Poppins-Light";
	font-weight: normal;
	text-align: left;
	 white-space: normal;
}
label {
	display: inline-block;
	margin-bottom: 5px;
	max-width: 100%;
}

.error {
    color: red !important;
}
.pad-no {
	padding: 0px !important;
}
.mar-top-10 {
	margin-top: 20px !important;
}


.main_menu {
	background: #0094bb none repeat scroll 0 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.main_menu_market{
    background: #0094bb none repeat scroll 0 0;
}
.cls_top_login {
	float:right;
	margin:23px 0 24px;
}
.cls_top_login li a {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #ffffff;
	font-family: 'Poppins-SemiBold';
	font-size: 16px;
	line-height: 22px;
	padding: 5px 19px;
	text-align: center;
	text-transform: uppercase;
}
.cls_top_login li a:hover {
	background:#ffffff;
	border-radius:5px;
	color:#464646;
	border: 1px solid #fff;
}
.cls_top_login li a.active {
	background:#ffffff;
	border-radius:5px;
	color:#464646;
	border: 1px solid #fff;
}
.cls_logo {
	padding:10px 0;
}
.cls_blu_bg {
	background:#1e2932;
	border:solid 2px #1a6a83;
	padding:20px 35px;
	border-radius:10px;
	margin:30px 0;
}
.cls_blu_bg h4 {
	margin:0;
	font-size:24px;
	font-family: 'Poppins-Medium';
	color:#fff;
}
.cls_blu_bg h4 span {
	float:right;
	font-size:24px;
	font-family: 'Poppins-Medium';
	color:#fff;
}
.cls_blu_bg h4 span img {
	padding-right:13px;
}
.cls_hea_sec {
	/*padding-top: 69px;*/
}
.cls_banner_con {
	background:url(../images/graph_bg.jpg) no-repeat scroll 0 0/cover;
	height:480px;
}
.cls_comm_bg {
	background:#fafafa url(../images/comm_bg.jpg) repeat;
}
.cls_start_bg {
	background:url(../images/bg_bott.jpg) no-repeat scroll 0 0/cover;
	height:153px;
}
.cls_mar_topd {
	margin-top:65px;
}
.cls_tra_us {
	font-size:24px;
	color:#fff;
	text-transform:uppercase;
	text-align:right;
	margin-top:66px;
}
.cls_map_bg {
	height: 710px;
	margin-bottom: -313px;
	position: relative;
	top: -350px;
}
.cls_grap_pad {
	padding:40px;
        height:100%;
}
.cls_content{
    padding-top: 69px;
}
.cls_inn_bg {
	background: #50505a none repeat scroll 0 0;
}
.cls_inn_bg .navbar-default {
	background-color: transparent;
	border:none;
}
.cls_inn_bg .navbar-default .navbar-nav > .active > a, .cls_inn_bg .navbar-default .navbar-nav > .active > a:focus, .cls_inn_bg .navbar-default .navbar-nav > .active > a:hover {
	background-color: #fff;
	color: #323232;
}
.cls_inn_bg .navbar {
	border: none;
	margin-bottom: 0;
	min-height: 40px;
	position: relative;
}

.cls_inn_bg .cbp-af-header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	/*height: 100px;*/
	-webkit-transition: height 0.3s linear;
	-moz-transition: height 0.3s linear;
	transition: height 0.3s linear;
}
.cls_inn_bg .cbp-af-header.sticky {
	background: #0094BB none repeat scroll 0 0;
	box-shadow: 0 0 6px 2px rgba(52, 152, 219, 0.5);
	left: 0;
	position: fixed;
	-webkit-box-shadow: 0px 0px 6px 2px rgba(52, 152, 219, 0.5);
	-moz-box-shadow: 0px 0px 6px 2px rgba(52, 152, 219, 0.5);
	box-shadow: 0px 0px 6px 2px rgba(52, 152, 219, 0.5);
}
.cls_inn_bg .cbp-af-header.sticky .navbar-inverse {
	background: #222;
	border: 0;
	box-shadow: 0 0 0px #027BA4;
}
.cls_inn_bg .cbp-af-header .cbp-af-inner {
	margin: 0 auto;
	padding: 0;
}
.cls_inn_bg .cbp-af-header h1, .cbp-af-header .nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: #fff;
	font-size: 16px;
	border: 0px dashed rgba(0, 0, 0, 0);
	padding: 5px 14px;
}
.cls_inn_bg .cbp-af-header .dropdown-menu {
	background-clip: padding-box;
	background-color: #204d6a;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.176);
	float: left;
	font-size: 14px;
	left: 0;
	list-style: outside none none;
	margin: 2px 0 0;
	min-width: 160px;
	padding: 5px 0;
	position: absolute;
	text-align: left;
	top: 95%;
	z-index: 1000;
}
.cls_after_he .dropdown-toggle {
	color: #fff;
	font-family: poppins-regular;
	font-size: 14px;
}
.cls_inn_bg .navbar-default .navbar-nav > li > a {
	color: #fff;
}
.cls_inn_bg .navbar-nav > li > a {
	color: #fff;
	font-size: 16px;
	line-height: 27px;
	margin: 0 14px 0 0;
	padding: 13px 13px 10px;
	text-transform: uppercase;
}
.cls_inn_bg .navbar-nav > li > a:hover {
	background-color: #fff;
	color: #323232;
}
.cls_inn_bg .navbar-default .navbar-nav > li:last-child > a {
	margin: 0;
}
.cls_after_he .dropdown-toggle {
	color: #fff;
	font-family: poppins-regular;
	font-size: 14px;
}
.cls_buy_coin {
	background:#fff;
}
.cls_buy_coin h4 {
	font-size:16px;
	color:#fff;
	padding:10px;
	background:#65808e;
	margin:0;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}
.cls_buy_coin_inn {
	border:solid 1px #c8c8c8;
	padding:15px 20px 20px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	box-shadow:0px 1px 0px #ccc;
}
.limit_order {
	position:relative;
}
.limit_order:after {
	background: #ffffff none repeat scroll 0 0;
	color: #323232;
	content: "\f107 ";
	font-family: "FontAwesome";
	font-size: 20px;
	height: 29px;
	left: auto;
	line-height: 25px;
	padding: 0 6px;
	pointer-events: none;
	position: absolute;
	right: 6px;
	top: 6px;
	width: 23px;
	z-index: 1;
}
.limit_order select {
	-moz-appearance: none;
	background-color: #fff;
	background-image: none;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	box-shadow: none;
	color: #323232;
	font-size: 14px;
	height: 36px;
	padding-left: 8px;
	position: relative;
	width: 100%;
}
.limit_order select:focus {
	outline: none;
}
.limit_order select option {
	padding:7px;
	color: #323232;
}
.cls_as.form-control::-moz-placeholder {
        color:#c8c8c8;
}
.cls_input_bal {
	background:#fafafa;
	border:solid 1px #c8c8c8;
}
.chart_EUR, .chart_NLG, .chart_GTS {
    top: 0;
    position: static;
    margin-bottom: 0;
}
#container_chart{ height:100%; width:100%;}

.cls_balce_box {
	background:#fff;
	border:solid 1px #ccc;
	box-shadow:0px 1px 1px #ccc;
	padding:15px 20px;
	margin:25px 0;
	border-radius:5px;
}
.cls_balce_box h3 {
	font-size:16px;
	color:#0094bb;
	font-family: 'Poppins-Medium';
	border-bottom:solid 1px #ccc;
	padding-bottom:5px;
	text-transform:uppercase;
}
.cls_hexa_bg {
	background: rgba(0, 0, 0, 0) url("../images/hexa_bg.png") no-repeat scroll 0 0;
	color: #fff;
	font-family: "Poppins-SemiBold";
	font-size: 18px;
	height: 83px;
	padding-left: 0;
	padding-top: 33px;
	text-align: center;
	width: 72px;
	float:left;
	margin-right:10px;
}
.cls_hexa_vol {
	font-size:20px;
	color:#323232;
	font-family: 'Poppins-Medium';
	float:left;
	padding-top:35px;
	padding-left:8px;
}
.cls_sidebr_sec {
	border-radius:5px;
	background:#50555f;
	margin-top:25px;
	margin-bottom:25px;
}
.cls_sidebr_sec ul li:last-child a {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.cls_sidebr_sec ul li:first-child a {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.cls_sidebr_sec ul {
	margin:0;
	padding:0;
}
.cls_sidebr_sec ul li a {
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 15px 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.cls_sidebr_sec ul li a:hover {
	text-align:center;
	background:#0094bb;
}
.cls_sidebr_sec ul li.active a {
	text-align:center;
	background:#0094bb;
}
.cls_sidebr_sec ul li.active a::after {
 border-bottom: 7px solid transparent;
 border-right: 8px solid #fff;
 border-top: 7px solid transparent;
 content: "";
 position: absolute;
 right: 0;
 top: 44%;
}
 .cls_sidebr_sec ul li:hover a::after {
 border-bottom: 7px solid transparent;
 border-right: 8px solid #fff;
 border-top: 7px solid transparent;
 content: "";
 position: absolute;
 right: 0;
 top: 44%;
}
.cls_comm_head {
	color: #50505a;
	font-size: 16px;
	margin: 25px 10px 5px;
	padding-bottom: 8px;
	font-family: 'Poppins-SemiBold';
	text-transform:uppercase;
}
.cls_pro_sec {
	background:#fff;
	border:solid 1px #ccc;
	border-radius:5px;
	padding:15px 20px 5px 25px;
	min-height:270px;
}
.cls_pro_sec h3 {
	border-bottom: 1px solid #ccc;
	color: #0094bb;
	font-family: 'Poppins-SemiBold';
	font-size: 16px;
	padding-bottom:10px;
	text-transform: uppercase;
	margin-bottom:20px;
}
.cls_pro_sec h4 {
	color: #0094bb;
	font-family: 'Poppins-SemiBold';
	font-size: 16px;
	padding-bottom:10px;
	text-transform: uppercase;
	margin-bottom:20px;
	margin-left:8%;
}
.cls_pro_sec label {
	font-weight:normal;
	color:#323232;
	font-size:14px;
	text-align:left !important;
	font-family: 'Poppins-Regular';
}
.cls_pro_sec .form-control::-moz-placeholder {
 color:#c8c8c8;
}
.cls_pro_sec .form-control::-webkit-input-placeholder {
 color:#c8c8c8;
}
.cls_pro_sec .form-group {
	margin-bottom: 20px;
}
.cls_change_pass label {
	font-weight:normal;
	color:#50505a;
	font-size:14px;
	text-align:left !important;
	font-family: 'Poppins-Regular';
}
.cls_change_pass .form-control::-moz-placeholder {
 color:#c8c8c8;
}
.cls_change_pass .form-control::-webkit-input-placeholder {
 color:#c8c8c8;
}
.cls_change_pass .form-group {
	margin-bottom: 20px;
}
.cls_facr_box, .cls_change_pass {
	background:#fff;
	padding:15px 0 0;
	margin-top:20px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border:solid 1px #ccc;
}
.cls_facr_box h4 {
	font-size:14px;
	color:#646464;
	line-height:30px;
	text-align:center;
	margin-bottom:35px;
}
.cls_facr_box h3 {
	font-size:18px;
	color:#323232;
	text-transform:uppercase;
	text-align:center;
	margin:0px 0;
	font-family: 'Poppins-SemiBold';
	margin-bottom:20px;
}
/*login*/
.cls_login_fn .modal-dialog {
	margin: 30px auto;
	width: 360px;
}
.cls_login_fn h4 {
	color:#646464;
}
.cls_login_fn .modal-header {
	border-bottom: 1px solid #e5e5e5;
	margin: 8px 19px 0;
	padding: 12px 0;
	color:#646464;
}
.login_form {
}
.login_head h4 {
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #646464;
}
.form_type .form-control {
	border-radius: 3px;
	box-shadow: none;
	height: 40px;
	margin-bottom: 18px;
	background: rgba(0, 0, 0, 0) url("../images/f_1.png") no-repeat scroll 7px 11px;
	padding: 8px 36px;
	font-weight: 300;
}
.form_type .form-control.lock {
	background: rgba(0, 0, 0, 0) url("../images/f_2.png") no-repeat scroll 7px 11px;
}
.cont_list .checkbox label {
	color: #646464;
	padding-left: 0;
	font-weight: 300;
}
.cont_list .checkbox {
	padding: 0;
}
.cont_list a {
	border-bottom: 1px solid;
	color: #0094bb;
	text-decoration: underline;
	text-transform: capitalize;
	font-size:14px;
}
.close {
	color: #000;
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	opacity: 1;
	text-shadow: 0 1px 0 #fff;
}
input[type=checkbox].css-checkbox {
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}
input.css-checkbox[type="checkbox"] + label.css-label, input.css-checkbox[type="checkbox"] + label.css-label.clr {
	background-position: 0 0;
	background-repeat: no-repeat;
	color: #646464;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	height: 16px;
	line-height: 18px;
	margin-bottom: 15px;
	padding-left: 30px;
	vertical-align: middle;
	width: 100%;
	 font-family: 'Poppins-Regular';

}
input[type=checkbox].css-checkbox:checked + label.css-label, input[type=checkbox].css-checkbox + label.css-label.chk {
	background-position: 0 -16px;
}
label.css-label {
	background-image:url(../images/check_box.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.my_check label i {
	color: #ef8801;
	font-size: 16px;
	margin-right: 1px;
	padding: 0;
}
.cls_dow_btn {
	background: #0094bb none repeat scroll 0 0;
	border: medium none;
	border-radius: 5px;
	color: #fff;
	font-family: "Poppins-SemiBold";
	font-size: 16px;
	height: 38px;
	padding: 0 15px;
	text-transform: uppercase;
	width: auto;
}
.cls_dow_btn:hover {
	background:#009d96;
}
.cls_deposit h4 {
	color:#646464;
}
.cls_deposit .modal-header {
	border-bottom: 1px solid #e5e5e5;
	margin: 8px 19px 0;
	padding: 12px 0;
	color:#646464;
}
.cls_deposit .close {
	color: #000;
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	opacity: 1;
	text-shadow: 0 1px 0 #fff;
}
.close {
	color: #000;
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	opacity: 1;
	text-shadow: 0 1px 0 #fff;
}

/* footer */
.cls_footer_sec {
	background:#323232;
	padding:30px 0;
}
.cls_footer_text p {
	font-size:14px;
	font-family: 'Poppins-Light';
	color:#969696;
	line-height:26px;
}
.cls_footer_logo img {
	margin-bottom:20px;
}
.cls_footer_con h3 {
	font-size:16px;
	color:#fff;
	margin:10px 0;
	text-transform:uppercase;
}
.cls_footer_con p {
	font-size:14px;
	font-family: 'Poppins-Light';
	color:#969696;
	line-height:30px;
}
.cls_socil_links {
	margin:0;
	padding:0;
}
.cls_socil_links li a {
	font-size:14px;
	color:#969696;
	font-family: 'Poppins-Light';
	line-height:25px;
}
.cls_socil_links li a:hover {
	color:#fff;
}
.cls_socil_links li a i {
	margin-right:10px;
}
.cls_ffoter_bot {
	background:#1e1e1e;
	text-align:center;
	color:#c8c8c8;
	font-size:12px;
	padding:10px;
}

/* trade table */
.cls_top_table h4 {
	font-size:16px;
	color:#fff;
	padding:10px;
	background:#65808e;
	margin:0;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	text-transform:uppercase;
}
.cls_top_table {
	background:#fff;
	padding:0px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	margin-top:40px;
}
.cls_trade_table {
	border:solid 1px #c8c8c8;
}
.cls_trade_table table {
	margin:0px;
}
.cls_trade_table table th {
	background:#f0f5fa;
	color:#646464;
	font-size:16px;
	font-family: 'Poppins-SemiBold';
	font-weight:500;
	text-align:left;
}
.cls_trade_table table td {
	text-align:left;
	color:#323232;
	font-size:14px;
	padding:15px 10px !important;
}
.cls_trade_table table tr:hover {
	background:#0094bb;
}
.cls_trade_table table tr:hover td {
	color:#fff;
}